<a href="https://colab.research.google.com/github/AlexPrados/Curso-Youtube-Python-freeCodeCamp.org/blob/main/Clase%203%3A%20Variables%20y%20tipos%20de%20datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Variables y tipos de datos
Las variables son contenedores donde podemos almacenar ciertos valores de datos.

In [ ]:
nombre_personaje = "Jhon"
edad_personaje = "35" # Desconozco por qué no funciona sin los "" si es un número, ya que no es necesario en los int, float y valores booleanos. Puede que sea exclusivo de este tipo de situaciones.
print("Había una vez un hombre llamado " + nombre_personaje + ", ")
print("él tenía " + edad_personaje + " años. ")

nombre_personaje = "Mike"
print("A él realmente le gustaba el nombre " + nombre_personaje + ", ")
print("pero no le gustaba tener " + edad_personaje + " años")

Había una vez un hombre llamado Jhon,
él tenía 35 años.
A él realmente le gustaba el nombre Mike,
pero no le gustaba tener 35 años

In [ ]:
nombre_personaje = "Jhon"
edad_personaje = 35 # Esta es la forma en la que acepta el número sin las comillas (srt es el acrónimo de string)
print("Había una vez un hombre llamado " + nombre_personaje + ", ")
print("él tenía " + str(edad_personaje) + " años. ")

nombre_personaje = "Mike"
print("A él realmente le gustaba el nombre " + nombre_personaje + ", ")
print("pero no le gustaba tener " + str(edad_personaje) + " años")

Había una vez un hombre llamado Jhon,
él tenía 35 años.
A él realmente le gustaba el nombre Mike,
pero no le gustaba tener 35 años

Existen cuatro tipo de datos principales: 

*   Cadenas de caracteres, los cuales siempre deben estar entre "" (string o str)
*   Números enteros, los cuales no tienen decimales (int)
*   Números de punto flotante, los cuales tienen decimales (float)
*   Valores booleanos, ya sean verdadero (True) o falso (False); (bool)

In [ ]:
int(35) # Comprobación de que Python no tiene problemas con los int
numero = 35
print(numero)

35