<a href="https://colab.research.google.com/github/AlexPrados/Curso-Youtube-Python-freeCodeCamp.org/blob/main/Clase%2010%3A%20Funciones%20de%20listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Funciones de listas

In [3]:
números_suerte = [4, 8, 15, 16, 23, 42]
amigos = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
amigos.extend(números_suerte) # La función .extend expande la lista con el nombre de la lista que se desea
print(amigos)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 4, 8, 15, 16, 23, 42]

In [4]:
números_suerte = [4, 8, 15, 16, 23, 42]
amigos = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
amigos.append("Creed") # La función .append adjunta el dato que deseas a la lista que quieras
print(amigos)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 'Creed']

In [5]:
números_suerte = [4, 8, 15, 16, 23, 42]
amigos = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
amigos.insert(1, "Kelly") # La función .insert te permite insertar en la posición que quieras el dato que deseas en la lista
print(amigos)

['Kevin', 'Kelly', 'Karen', 'Jim', 'Oscar', 'Toby']

In [6]:
números_suerte = [4, 8, 15, 16, 23, 42]
amigos = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
amigos.remove("Jim") # La función .remove elimina de la lista el dato que especifiquemos
print(amigos)

['Kevin', 'Karen', 'Oscar', 'Toby']

In [10]:
números_suerte = [4, 8, 15, 16, 23, 42]
amigos = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
amigos.clear() # La función .clear limpia por completo la lista
print(amigos)

[]

In [11]:
números_suerte = [4, 8, 15, 16, 23, 42]
amigos = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
amigos.pop() # La función .pop hace estallar un dato de la lista, lo elimina
print(amigos)

['Kevin', 'Karen', 'Jim', 'Oscar']

In [14]:
números_suerte = [4, 8, 15, 16, 23, 42]
amigos = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
print(amigos.index("Jim")) # La función .index comprueba el dato que incluimos está en la lista y su posición

2

In [15]:
números_suerte = [4, 8, 15, 16, 23, 42]
amigos = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
print(amigos.count("Jim")) # La función .count cuenta cuantas veces está el dato que queramos en la lista

2

In [16]:
números_suerte = [4, 8, 15, 16, 23, 42]
amigos = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
amigos.sort() # La función .sort ordena los elementos de la lista
print(amigos)

['Jim', 'Jim', 'Karen', 'Kevin', 'Oscar', 'Toby']

In [17]:
números_suerte = [4, 8, 15, 16, 23, 42]
amigos = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
números_suerte.sort() 
print(números_suerte)

[4, 8, 15, 16, 23, 42]

In [19]:
números_suerte = [4, 8, 15, 16, 23, 42]
amigos = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
números_suerte.reverse() # La función .reverse ordena al revés los elementos de la lista
print(números_suerte)

[42, 23, 16, 15, 8, 4]

In [21]:
números_suerte = [4, 8, 15, 16, 23, 42]
amigos = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
amigos2 = amigos.copy() # La función .copy copia la lista que especificamos
print(amigos2)

['Kevin', 'Karen', 'Jim', 'Jim', 'Oscar', 'Toby']